<div class="container-fluid">
	<h3>{{ standingTable?.leagueCaption }}</h3>
	<hr/>

	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				 <h3 class="panel-title">Teams</h3>
			</div>

			<div class="panel-body team-holder">
				<ul *ngFor="let team of allTeams?.teams" class="teamlisting">
					<li><a class="teamname" routerLink = "/team/details/{{team?._links.self.href | explodestr}}"><img src="{{team?.crestUrl}}" style="max-width: 20px;">&nbsp;{{team?.name}}</a></li>
					<hr/>
				</ul>
				
			</div>
		</div>
	</div>



	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				 <h3 class="panel-title">Fixtures</h3>
			</div>

			<div class="panel-body fixture-holder">
				
				<ul class="description" *ngFor="let fix of fixtures?.fixtures">
					
					<my-fixture [hometeam]="fix?.homeTeamName" 
								[awayteam] = "fix?.awayTeamName" 
								[hometeamId] = "fix?._links.homeTeam.href | explodestr" 
								[awayteamId] = "fix?._links.awayTeam.href | explodestr"
								[timed] = "fix?.date">
					</my-fixture>

					<!-- <li><span class="clublogo"><img src="{{allTeams[0].crestUrl}}" class="img-circle" style="max-width: 50px;"></span><strong class="clubname">{{fix?.homeTeamName}}</strong></li>
					<li>vs</li>
					<li><span class="clublogo"><img src="http://placehold.it/90x90" class="img-circle"  style="max-width: 50px;"></span><strong class="clubname">{{fix?.awayTeamName}}</strong></li> -->
					<hr/>
				</ul> 

				
			</div>
		</div>
	</div>


	


	


	<!--standing panel-->
	<div class="col-sm-4">
		<div class="panel panel-default">
			<div class="panel-heading">
				 <h3 class="panel-title">Standings</h3>
			</div>

			<div class="panel-body">
				<table class="table table-bordered table-condensed">
					
					<tr>
						<th>#</th>
						<th>Team</th>
						<th>P</th>
						<th>W</th>
						<th>D</th>
						<th>L</th>
						<th>Pts</th>
					</tr>

					<tr *ngFor="let pts of standingTable?.standing">
						<td [ngClass] = "pts?.position <= 4 ? 'green' : pts?.position >= 18 ? 'red' : ''">{{pts?.position}}</td>
						<td><img src="{{pts?.crestURI}}" style="max-width: 10px;">&nbsp;{{pts?.teamName}}</td>
						<td>{{pts?.playedGames}}</td>
						<td>{{pts?.wins}}</td>
						<td>{{pts?.draws}}</td>
						<td>{{pts?.losses}}</td>
						<td>{{pts?.points}}</td>
					</tr>

				</table>
			</div>
		</div>
	</div>
	<!--standing panel-->
</div>

